<mat-card class="container mat-elevation-z3">
  <mat-card-title>Novo Produto</mat-card-title>

  <form [formGroup]="fg">
    <mat-form-field>
      <input type="text" matInput placeholder="Nome do Produto" formControlName="productName" name="productName">
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Preço do Produto (R$)" formControlName="productPrice" name="productPrice">
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createProduct()" color="accent">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()" color="warn">
    Cancelar
  </button>
</mat-card>