:host {
  .header {
    display: flex;
    align-items: center;
    gap: 20px;

    .container-logo {
      cursor: pointer;

      .logo {
        margin-top: 16px;
        width: 80px;
        height: 80px;
        object-fit: cover;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  }
}
